<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    403 Forbidden
  </h1>
  <ol class="breadcrumb">
    <li><a href="/users/login"><i class="fa fa-user"></i> Login</a></li>
    <li class="active">403 error</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> 403</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Oops! Access was denied.</h3>

      <p>
        Access was denied.
        <br>
        You don't have enought permissions for viewing this page.
        <br>
        Maybe you should <a href="/users/login">login</a> in system by user with enought permissions.
      </p>

      <form class="search-form">
        <a href="/">
          <button type="button" name="main-page" class="btn btn-success btn-flat pull-left"><i class="fa fa-home"></i> Main Page</button>
        </a>
        <a href="/users/login">
          <button type="button" name="login" class="btn btn-primary btn-flat pull-right"><i class="fa fa-user"></i> Login</button>
        </a>
      </form>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
<!-- /.content -->